<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    home/index
    <p>@ViewBag.Greeting @ViewBag.UserName, Nas覺ls覺n覺z?</p>
    <p>Umar覺m sitemizden memnunsunuzdur</p>
</body>
</html>