@model shopapp.webui.Models.Product //product classının yolunu namespacini ve clası yazdım 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    Product/details

  <p>Ürün adı: @Model.Name</p>  
    <p>Ürün Fiyatı: @Model.Price</p>    
      <p>Ürün Açıklaması: @Model.Description</p>      
</body>
</html>